@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-size: 1.2rem;
}

:root {
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

@layer components {
  .card {
    background-color: theme('colors.white');
    color: theme('colors.black');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }
}
